@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="row">
        <div class="col-lg-3">
            <h1>Downloads</h1>
            <blockquote>
                Nesta página encontram-se as principais ferramentas de desenvolvimento, das principais linguagens, plataformas e banco de dados.
                <br>
                Esta página está em constante evolução.
            </blockquote>
        </div>
        <div class="col-lg-8">
<h2>Visual Studio Code</h2>
<p>Um dos melhores editores de código multi linguagem e com boa acessibilidade!
<br>
Você será levado para o site da Microsoft para baixá-lo.
<a href="https://code.visualstudio.com/docs/?dv=win64user">Clique para baixar Visual Studio Code 64 bit</a>
<br>
<a href="https://code.visualstudio.com/docs/?dv=win32user">Clique para baixar Visual Studio Code 32 bit</a>
</p>
<h2>Visual Studio 2019</h2>
<p>
IDE completa para trabalhar com as tecnologias ASP.Net e ASP.Net corcom a linguagem C Sharp.
<br>
Você será levado para o site da Microsoft para baixar este programa. Talvez seja solicitado o login, que é seu e-mail cadastrado na Microsoft, caso você o tenha.
<a href="https://aka.ms/vs/16/release/vs_community.exe">Clique para baixar Visual Studio Community</a>
</p>
<h2>SQL Server Express 2019</h2>
<p>
O SQL Server Express é um servidor de banco de dados da Microsoft gratuíto para se utilizar no momento do desenvolvimento de uma aplicação, para que você
o instale em seu computador, sem nenhuma dificuldade.
<br>
Inclusive, para pequenas empresas e projetos, é permitido seu uso de forma comercial.
<br>
Você será levado para o Site da Microsoft para baixar este programa.
<a href="https://go.microsoft.com/fwlink/?linkid=866658">Clique para baixar o SQL Server Express</a>
</p>
<h2>SDK do ASP.Net Core</h2>
<p>
Para que seja possível desenvolver com ASP.NetCore, é necessário ter instalado o SDK, que é o kit de desenvolvimento, para que suas aplicações funcionem tanto no Visual Studio quanto no Visual Studio Code.
<br>
Você será levado para o site da Microsoft para baixá-lo.
<a href="https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/sdk-3.1.416-windows-x64-installer">Clique para baixar SDK ASP.Net Core 3.1 64 bit</a>
<br>
<a href="https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/sdk-3.1.416-windows-x86-installer">Clique para baixar SDK ASP.Net Core 3.1 32 bit</a>
</p>
<h2>Java SDK</h2>
<p>
Para que seja possível desenvolver aplicações em Java, é preciso antes realizar a instalação do kit de desenvolvimento.
<br>
A instalação é simples, basta ir avançando que as configurações serão realizadas pelo assistente, inclusive a criação das variáveis de ambientes necessárias.
<br>
Você será levado para o site da Oracle, mas não se preocupe, este é o link direto.
<br>
<a href="https://download.oracle.com/java/17/latest/jdk-17_windows-x64_bin.exe">Clique para baixar o SDK Java 17 LTE</a>
</p>
<h2>Interpretador Python</h2>
<p>
Python é uma das linguagens que mais crescem atualmente, muito utilizada inclusive para criar automações no seguimento DevOps e no ambiente financeiro.
<br>
Esta linguagem suporta o paradigma de orientação a objeto, o que faz com que ela se torne ainda mais atraente por desenvolvedores.
<br>
Para baixar, você será levado para o site do projeto do Python, mas é link direto para o download.
<br>
<a href="https://www.python.org/ftp/python/3.10.1/python-3.10.1-amd64.exe">Clique para baixar Python 3.10 64 bit</a>
</p>
<h2>IDE para Desenvolvimento com Python</h2>
<p>
Assim como temos no Java o Eclipse e no ASP.Net o Visual Studio, para Python, temos uma IDE completa e com boa acessibilidade, chamada PyCharm.
<br>
Você será levado para o site da JetBrains para fazer o download.
<br>
<a href="https://www.jetbrains.com/pt-br/pycharm/download/download-thanks.html?platform=windows&code=PCC">Clique para baixar PyCharm</a>
</p>
        </div>
    </div>
</section>
<hr>
