@{
    Layout = "~/Views/Shared/_LayoutEspecifico.cshtml";
}
<section>
    <div class="row">
        <div class="col-lg-3">
            <h1>Realização de Atividade</h1>
        </div>
        <div class="col-lg-8">
            <p>
                A atividade foi enviada com sucesso. Aguarde a correção da mesma pelo pelo professor.
                <br>
                Assim que sua atividade for marcada como concluída, isto significa que você foi aprovado(a) na mesma, podendo seguir para o próximo módulo.
                <br>
                Caso a atividade não esteja correta, você poderá realizá-la novamente, tentando até conseguir a aprovação. Siga as dicas colocadas no campo comentário pelo seu professor na hora q a atividade for corrigida.
            </p>
            <br>
            <a href="/home/meuscursos">Ir para meus cursos</a>
        </div>
    </div>
</section>
<hr>
