@{
	Layout = "~/Views/Shared/_LayoutEspecifico.cshtml";
}
<section>
	<div class="row">
		<div class="col-lg-3">
			<h1>Cursos</h1>
			<blockquote>A seguir, encontra-se disponível a lista com os cursos ofertados atualmente.</blockquote>
		</div>
		<div class="col-lg-8">
			<div id="cursos">
			</div>
		</div>
	</div>
</section>
<hr>
    <script src="~/Scripts/home/cursoHome.js"></script>