@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
<h1>Recuperação de Senha</h1>
<p>Se seu e-mail estiver correto, sua senha será enviada para ele. Favor verifique o mesmo.
<br>
 Se você não o encontrar na caixa de entrada, favor
checar na pasta spam.</p>
</div>