@model List<I9Solucoes.Models.CursoAluno>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
<div class="row">
	<div class="col-lg-3">
		<h1>Sobre</h1>
	</div>
	<div class="col-lg-8">
<blockquote>
Este projeto surgiu com a finalidade de contribuir com o aprendizado na área da
computação, em seus diversos seguimentos, tais como desenvolvimento de software, em seus diversos campos, até rede de computadores, com cursos de capacitação ministrados sempre por uma pessoa cega.
<br>
<b>Utilizando uma plataforma simples e acessível, você assistirá as aulas de maneira muito tranquila, sempre
com total autonomia para navegar pelos conteúdos e módulos, quando existirem</b>
<p class="text-lead">
Observação: O conteúdo deste site está sempre em constante atualização, assim sendo, se você gostaria muito de fazer um curso que por ventura não esteja disponível hoje, você pode nos contatar pelo e-mail:
<a href="mailto:programadorricardooliveira@gmail.com">programadorricardooliveira@gmail.com</a>
</p>
</blockquote>
	</div>
</div>
</section>
<hr>
