@{
    Layout = "~/Views/Shared/_LayoutLead.cshtml";
}
<div class="row">
    <div class="col-lg-8">
        <h1>@ViewBag.titulo</h1>
        <pre>@ViewBag.descricao</pre>
        <div id="form">
            <form id="formCadastro" name="formCadastro">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="mail">E-mail:</label>
                            <input type="text" id="email" name="email" required>
                        </div>
                    </div>
                </div>
                <input class="btn" type="button" id="btnSalvar" onClick="enviar()" value="Enviar" />
            </form>
        </div>
    </div>
</div>
<hr>
<div id="alerta" class="alert alert-success" aria-live="polite">
</div>
<hr>
<div class="row">
    <div id="canalYoutube">
    </div>
</div>
<div class="row">
    <blockquote>
        Este projeto surgiu com a finalidade de contribuir com o aprendizado na área da
        computação, em seus diversos seguimentos, tais como desenvolvimento de software, em seus diversos campos, até rede de computadores, com cursos de capacitação ministrados sempre por uma pessoa cega.
        <br>
        <b>
            Utilizando uma plataforma simples e acessível, você assistirá as aulas de maneira muito tranquila, sempre
            com total autonomia para navegar pelos conteúdos e módulos, quando existirem
        </b>
        <p class="text-lead">
            Observação: O conteúdo deste site está sempre em constante atualização, assim sendo, se você gostaria muito de fazer um curso que por ventura não esteja disponível hoje, você pode nos contatar pelo e-mail:
            <a href="mailto:programadorricardooliveira@gmail.com">programadorricardooliveira@gmail.com</a>
        </p>
    </blockquote>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Nossa Missão</h4>
            <h2>Conteúdo de qualidade</h2>
            <p>
                Direto do mundo real.
                <br>
                Nossos cursos possuem um enfoque prático, para que você comece de forma mais rápida no mundo da programação de computadores, sem todo aquele sofrimento para entender os conteúdos.
            </p>
            <p>
                Entregar conteúdo de valor, este é nosso compromisso!
            </p>
        </div><!-- end col -->
        <div class="col-md-6">
            <div class="media">
                <img style="max-width: 100%; max-height: 100%;" src="Content/images/foto.jpg" alt="Minha foto" class="img-fluid">
            </div><!-- end media -->
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end container -->

    <script src="~/Scripts/lead/Lead.js"></script>